sqlalchemy
psycopg2-binary
fastapi[standard]
uvicorn[standard]
email_validator
python-dotenv
cloud-sql-python-connector
pg8000
langchain-core
langchain-google-genai
langchain-ollama
langchain
pygeohash
proximityhash
uuid-utils
tzdata
nltk
Faker
pyjwt

#pip install fastapi uvicorn openai pydantic